# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Flask/instance
instance/

# Unit test / coverage reports
.pytest_cache/
.coverage*
htmlcov/

# IDE/editor
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*