body{
     margin: 0;
     font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: #f8f9fa;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Header */
header{
    background: linear-gradient(to_right,#0062E6,#33AeFF);
    color:white;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0,0,0.1);
}
header h1{
    margin: 0;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

nav{
    text-align: center;
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3 ease;
}

nav a:hover{
    color:#ffd700;
}

/* footer */
footer{
    background-color: #343a40;
    color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    box-shadow: 0 -2px 8px rgba(0,0,0.1);
}

footer p{
    margin: 0;
}

/* Flash Messages */
.flash.success{color: green;}
.flash.danger{color: red;}
.flash.info{color: blue;}

/*Login Form */
.login-box{
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0.1);
}

.login-box h2{
    text-align: center;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.btn{
    background-color: #007bff;
    
}